html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

/*
.logo {
  display: block;
  width:300px;
  margin-left: auto;
  margin-right: auto;
}
*/
.skelethon,
.standartTable,
.standartLongTable {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  text-align: center;
  border-collapse: collapse;
}

.logo {
  width: 300px;
}

/***** ZEROTH PAGE - CSS START *****/
.searchBox {
  width: 600px;
  height: 40px;
  border: 3px solid #57068c;
  border-radius: 25px;
  outline: none;
  color: black;
  font-size: 13pt;
  padding: 5px;
}

.searchBox:focus {
  color: #57068c;
}

#searchButton {
  width: 60px;
  font-size: 20px;
}

.submitButton {
  width: 600px;
  height: 40px;
  border: 1px solid #57068c;
  border-radius: 25px;
  background: #57068c;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

.standartTable tr:nth-child(even) {
  background-color: #f1f1f1;
}

.standartTable th, td {
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/***** ZEROTH PAGE - CSS END *****/
/***** FIRST PAGE - CSS START *****/
.dropDownMenu {
  width: 600px;
  border: 3px solid #57068c;
  /*padding: 10px;*/
  height: 40px;
  border-radius: 25px;
  outline: none;
}

/***** FIRST PAGE - CSS END *****/
/***** SECOND PAGE - CSS START *****/
.studentInformationText {
  color: #57068c;
  text-align: left;
  font-size: 20px;
  text-decoration: none;
}

.standartTable .clickableTableRow {
  cursor: pointer;
  text-align: center;
}

.standartTable .clickableTableRow:hover {
  cursor: pointer;
  background-color: #57068c;
  color: white;
}

/***** SECOND PAGE - CSS END *****/
/***** THIRD PAGE - CSS START *****/
.checkbox{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0.1pt solid #57068c;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.checkbox:checked::before{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
     color: #57068c;
}

.checkbox:checked{
     background-color: #f1f1f1;
}

label{
     cursor: pointer;
}

.constarintsTable{
  margin-left: 70px;
  width: 500px;
  text-align: left;
}

.standartLongTable{
  overflow-y:scroll;
  height:600px;
  display:block;
  border-width: 0.25px;
  border-style: solid;
  border-color: #f1f1f1;
}

.standartLongTable tr:nth-child(even) {
  background-color: #f1f1f1;
}

.standartLongTable th, td {
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.standartLongTable .clickableTableRow {
  cursor: pointer;
  text-align: center;
}

.standartLongTable .clickableTableRowSelected {
  background-color: #57068c;
  color: white;
  cursor: pointer;
}

.clickableTableRowSelected td{
  background-color: #57068c;
  color: white;
}

.standartLongTable .clickableTableRow:hover {
  cursor: pointer;
  background-color: #57068c;
  color: white;
}

.standartLongTable::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 20px;
    width: 11px;
}

.standartLongTable::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


.standartLongTable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.selectedClasses{
  cursor: pointer;
}

.selectedClasses:hover{
  cursor: pointer;
  text-decoration: underline;
}
/***** THIRD PAGE - CSS END *****/

/***** FOURTH PAGE - CSS START *****/
.iframe{
  width: 600px;
  height: 1150px;
  overflow:hidden;
}

/***** FOURTH PAGE - CSS END *****/

/***** FIFTH PAGE - CSS START *****/
.iframeFinalPage{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 50px;
  overflow:hidden;
}

.lastPageText{
  position: absolute;
  top: 5px;
  left: -50px;
  font-style: italic;
}

/***** FIFTH PAGE - CSS END *****/
